.overskrift{
	text-align: center;
	font-size: 50px;
}

p, h2{
	color: black;
}


.div2 {
    display: block;
    border: 1px;
    height: 100%;
    overflow: hidden;
    text-align: center;
}



.div2-left {
	display: inline-block;
    width: 30%;
    vertical-align: top;
}
.div2-right {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.debat{
	color: DodgerBlue;
	font-weight: bold;
}

.arkiv{
	color: white;
}

.arkiv span{
	background-color: DodgerBlue;
}

.author{
	font-weight: bold;
}

.div-2-1-img{
	height: 100%;
	width: 90%;
}

.div-2-2-img{

	width: 84%;

}

.vl{
	display: inline-block;
  	border-left: 1px solid grey;
  	height: 760px;

  	opacity: 25%
}

.hl{
	width: 50%;
	opacity: 35%
}

